<!doctype html>
<html>
    <head>
    <title>Starting over</title>
        <link href="main.css" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab" />
    </head>

    <div class="backgroundImg">
         <img src="/images/onThePeer.jpg" height="100%" width="100%" />
     </div>
    
<body>
 <header>
      <nav>
        <div class="top">
            <img src="/images/SylviaPaint.jpg" height="100">
          </div>
    <ul>
        <li><%= link_to 'Home', controller:'welcome'%></li>
        <li><%= link_to 'Quiz', controller:'quiz' %></li>
        <li>Photos</li>
        <li><a href='/articles/new'>Blog</a></li>
    </ul>
    </nav>
 </header>

<div class="pic-link">
   <%= link_to 'Next', controller: 'pictures2' %>
 </div>

    

<div class="pic2">
 <img id="pic1" src="/images/sylviaWithPaisley.jpg" length="500" width="300">
 <img id=pic2 src="/images/chuckeCheese.jpg" length="500" width="300">
 <img id=pic3 src="/images/helecopterRide.jpg" length="500" width="300">
 <img id=pic4 src="/images/kissInTheCar.jpg" length="500" width="300">
 <img id=pic5 src="/images/sylviaWithPaisley2.jpg" length="500" width="300">
 <img id=pic6 src="/images/bowlingQueen.jpg" length="500" width="300">
 <img id=pic7 src="/images/cavePic.jpg" length="500" width="300">
 <img id=pic8 src="/images/flamingosAtZoo.jpg" length="500" width="300">
 <img id=pic9 src="/images/kangarooAtZoo.jpg" length="500" width="300">
 <img id=pic10 src="/images/elephantsAtZoo.jpg" length="500" width="300">
 <img id=pic11 src="/images/SylviaInLights.jpg" length="500" width="300">
 <img id=pic12 src="/images/SylviaAtTheGame.jpg" length="500" width="300">
 <img id=pic13 src="/images/WithAHorse.jpg" length="500" width="300">
 <img id=pic14 src="/images/OnTheBus.jpg" length="500" width="300">
 <img id=pic15 src="/images/InTheCar.jpg" length="500" width="300">
 <img id=pic16 src="/images/cuttingHair.jpg" length="500" width="300">
</div>
  
 <br><br><br>
 <div class="pic-link">
   <%= link_to 'Next', controller: 'pictures2' %>
 </div>
   

<script src ="//code.jquery.com/jquery-1.11.0.min.js">
</script>
<script>
    $(function(){
        
         $("#pic1") .on("click", function() {
            $("#pic1") .toggleClass ("enlarge1")});
    
         $("#pic2") .on("click", function() {
            $("#pic2") .toggleClass ("enlarge1")});
    
         $("#pic3") .on("click", function() {
            $("#pic3") .toggleClass ("enlarge1")});
    
         $("#pic4") .on("click", function() {
            $("#pic4") .toggleClass ("enlarge1")});
    
         $("#pic5") .on("click", function() {
            $("#pic5") .toggleClass ("enlarge1")});
    
         $("#pic6") .on("click", function() {
            $("#pic6") .toggleClass ("enlarge1")});
    
         $("#pic7") .on("click", function() {
            $("#pic7") .toggleClass ("enlarge1")});
    
         $("#pic8") .on("click", function() {
            $("#pic8") .toggleClass ("enlarge1")});
    
         $("#pic9") .on("click", function() {
            $("#pic9") .toggleClass ("enlarge1")});
    
         $("#pic10") .on("click", function() {
            $("#pic1") .toggleClass ("enlarge1")});
    
         $("#pic10") .on("click", function() {
            $("#pic10") .toggleClass ("enlarge1")});
    
         $("#pic11") .on("click", function() {
            $("#pic11") .toggleClass ("enlarge1")});
    
         $("#pic12") .on("click", function() {
            $("#pic12") .toggleClass ("enlarge1")});
        
         $("#pic13") .on("click", function() {
            $("#pic13") .toggleClass ("enlarge1")});
    
         $("#pic14") .on("click", function() {
            $("#pic14") .toggleClass ("enlarge1")});
    
         $("#pic15") .on("click", function() {
            $("#pic15") .toggleClass ("enlarge1")});
        
         $("#pic16") .on("click", function() {
            $("#pic16") .toggleClass ("enlarge1")});
    
    
    
    });




</script>
 </div>
<footer>
  <ul>
   <li>Created by: Luke Settle</li>
   <li>Last edited: 11/20/2014</li>
  </ul>
</footer>


 </body>




</html>