.box-titles{
	color:red;
	display:block;
	margin:0px auto;
}

.field_with_errors{
	background:red;
	display:inline-block;
}

.title-field{
	/*container styles */
	display:block;
	margin:0px auto;
	text-align: center;

	/* text styles */
	color:white;
}

.backgroundImg{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -2;
}


/* styles for the show page */

.show-title{
	color:white;
}

.show-text{
	color:white;
}